{% extends 'AppBackendBundle::layout.html.twig' %}
{% block body %}
    <div class="panel-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button class="btn btn-default" type="submit">Сохранить</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
