{% extends 'AppBackendBundle::layout.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Статьи</div>
        <div class="panel-body">
            <table class="table table-responsive table-bordered">
                <thead>
                <tr>
                    <td>Название</td>
                    <td>Производитель</td>
                    <td>Описание</td>
                    <td>Категории</td>
                    <td>Цена</td>
                    <td>Картинка</td>
                    <td>Действия</td>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.getName }}</td>
                        <td>{{ item.getManufacturer }}</td>
                        <td>{{ item.getDescription }}</td>
                        <td>{% for category in item.getCategories %}#{{ category.getName }} {% endfor %}</td>
                        <td>{{ item.getPrice }}</td>
                        <td>
                            {% if item.imageName is not null %}
                                <img style="max-width: 100px; max-height: 100px" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="{{ item.name }}" />
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn" href="{{ path('backend_product_edit', {'id' : item.getId}) }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn" href="{{ path('backend_product_delete', {'id' : item.getId}) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href="{{ path('backend_product_create') }}">Создать</a>
        </div>

    </div>


{% endblock %}
