{% extends 'base.html.twig' %}
{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('backend_home') }}">Административная панель</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if app.request.attributes.get('_route') == 'backend_home' %}class="active"{% endif %}>
                        <a href="{{ path('backend_home') }}">Главная</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'backend_article_categories' %}class="active"{% endif %}>
                        <a href="{{ path('backend_article_categories') }}">Категории статей</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'backend_articles' %}class="active"{% endif %}>
                        <a href="{{ path('backend_articles') }}">Статьи</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'backend_product_categories' %}class="active"{% endif %}>
                        <a href="{{ path('backend_product_categories') }}">Категории продуктов</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'backend_products' %}class="active"{% endif %}>
                        <a href="{{ path('backend_products') }}">Продукты</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'backend_slides' %}class="active"{% endif %}>
                        <a href="{{ path('backend_slides') }}">Слайдер</a>
                    </li>
                    <li {% if app.request.attributes.get('_route') == 'backend_orders' %}class="active"{% endif %}>
                        <a href="{{ path('backend_orders') }}">Заказы</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                </ul>

            </div>
        </div>
    </nav>
{% endblock %}