{% extends 'AppBackendBundle::layout.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Статьи</div>
        <div class="panel-body">
            <table class="table table-responsive table-bordered">
                <thead>
                <tr>
                    <td>Название</td>
                    <td>Описание</td>
                    <td>Текст</td>
                    <td>Категории</td>
                    <td>Действия</td>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.getTitle }}</td>
                        <td>{{ item.getDescription }}</td>
                        <td>{{ item.getBody }}</td>
                        <td>{% for category in item.getCategories %}#{{ category.getName }} {% endfor %}</td>
                        <td>
                            <a class="btn" href="{{ path('backend_article_edit', {'id' : item.getId}) }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn" href="{{ path('backend_article_delete', {'id' : item.getId}) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-default" href="{{ path('backend_article_create') }}">Создать</a>
        </div>

    </div>


{% endblock %}
