{% extends 'AppBackendBundle::layout.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Заказы</div>
        <div class="panel-body">
            <table class="table table-responsive table-bordered">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Имя</td>
                    <td>Email</td>
                    <td>Номер телефона</td>
                    <td>Статус</td>
                    <td>Действия</td>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.phoneNumber }}</td>
                        <td>{% if (item.done) %}Обработано{% else %}Не обработано{% endif %}</td>
                        <td>
                            {#<a class="btn" href="{{ path('backend_order_change_status', {'id' : item.getId}) }}">#}
                                {#<span class="glyphicon glyphicon-refresh"></span>#}
                            {#</a>#}

                            <a class="btn" href="{{ path('backend_order_show', {'id' : item.getId}) }}">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>

                            <a class="btn" href="{{ path('backend_order_delete', {'id' : item.getId}) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


{% endblock %}
