{% extends 'AppBackendBundle::layout.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Заказы</div>
        <div class="panel-body">
            <table class="table table-responsive table-bordered">
                <tbody>
                <tr>
                    <td>Имя</td>
                    <td>{{ data.name}}</td>
                </tr>
                <tr>
                    <td>Почта</td>
                    <td>{{ data.email}}</td>
                </tr>
                <tr>
                    <td>Телефон</td>
                    <td>{{ data.phoneNumber}}</td>
                </tr>

                <tr>
                    <td>Статус</td>
                    <td>{% if (data.done) %}Обработано{% else %}Не обработано{% endif %}</td>
                </tr>
                </tbody>
            </table>
            {{ data.content|raw }}
        </div>
        <a href="{{ path('backend_order_change_status', {'id' : data.getId}) }}" alt="">Изменить статус</a>

        {#<a class="btn" href="{{ path('backend_order_change_status', {'id' : item.getId}) }}">#}
        {#<span class="glyphicon glyphicon-refresh"></span>#}
        {#</a>#}
    </div>
{% endblock %}
