{% extends 'AppFrontendBundle::layout.html.twig' %}
{% block body %}
    <section id="content"><div class="ic"></div>
        <div class="container_12">
            <div class="grid_4 bot-1">
                <h2 class="top-6 p2">Знаете ли вы?</h2>
                {% for article in articles %}
                    <p><a href="{{ path('frontend_article', {'id' : article.id}) }}" class="link">{{ article.title }}</a></p>
                {% endfor %}
            </div>
            <div class="grid_8">
                <div class="block-1 top-5">
                    <div class="block-1-shadow">
                        <h3>{{ selected.title }}</h3>
                        <p>{{ selected.body }}</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
{% endblock %}