{% extends 'AppFrontendBundle::layout.html.twig' %}
{% block body %}
<section id="content"><div class="ic"></div>
    <div class="container_12">
        <div class="grid_12">
            <div class="block-1 top-5">
                <div class="block-1-shadow">
                    <table>
                        <thead>
                            <tr>
                                <td>Название</td>
                                <td>Количество</td>
                                <td>Цена/шт</td>
                                <td>Цена</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products%}
                                {% for id, count in items %}
                                    {% if id == product.id %}
                                    <tr>
                                        <td>{{ product.name }}</td>
                                        <td>{{ count }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.price*count }}</td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <tr>
                                <td><span style="color:red">Итого</span> </td>
                                <td></td>
                                <td></td>
                                <td><span style="color:red">{{ summPrice }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    {% if items|length > 0 %}
                        <a class="btn btn-primary" href="{{ path('frontend_order') }}">Заказать</a>
                        <a class="btn btn-primary" href="{{ path('frontend_basket_clear') }}">очистить</a>
                    {% else %}
                        <a class="btn btn-primary" disabled href="order">Заказать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    <div class="clear"></div>
    </div>
</section>
{% endblock %}
{#{% block footer %}#}