{% extends 'AppFrontendBundle::layout.html.twig' %}
{% block body %}
<section id="content"><div class="ic"></div>
    <div class="container_12">
        <div class="grid_4 bot-1">
            <a href="{{ path('frontend_basket') }}">Корзина({{ count }})</a>
            <h2 class="top-6 p2">Категории:</h2>
            <ul class="list-1">
                {% for category in categories %}
                    <li>
                        <a href="{{ path('frontend_catalog', {'id' : category.id}) }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid_8">
            <div class="block-1 top-5">
                <div class="block-1-shadow">
                    <h2 class="clr-6 p4">Новинки в продаже</h2>

                    <div class="product">
                        <ul>
                            {% for product in products %}
                                <li><a href="{{ path('frontend_product', {'id' : product.id}) }}"><span><img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="" class="img-border" width="240px" height="190px"/>
                                    <p><strong class="text-2">{{ product.name }}</strong></span></a></p>
                                    <strong class="text-2"> Цена {{ product.price }}р.</strong>
                                    <a href="{{ path('frontend_product_add', {id : product.id}) }}" class="btn btn-default">Положить в корзину</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
{% endblock %}