{% extends 'AppFrontendBundle::layout.html.twig' %}
{% block body %}

    <!--==============================content================================-->
    <section id="content">

        <div class="container_12">
            <div class="grid_4 bot-1">
                <div class="vini">
                    <img src="images/vini.png" alt="" width="325px" height="224px">
                </div>


                <h2 class="top-6 p2">Статьи</h2>
                <p><a href="game.html" class="link">Детские игрушки. Покупаем по возрасту</a></p>
                <p> <a href="talk.html" class="link">Беседы с еще не родившимся малышом</a></p>
                <p> <a href="newborn.html" class="link">Необходимая одежда для новорожденного</a></p>
            </div>
            <div class="grid_8">

                <div class="block-1">
                    <div class="block-1-shadow">
                        <h2 class="clr-6 p4">Рекомендуем</h2>

                        <div class="box-1">
                            <div class="view view-first">
                                <img src="images/speed.jpg" width="220" height="220"/>

                                <div class="mask">
                                    <p>Маечка Bembi</p>

                                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.</p>
                                    <a href="#" class="info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="box-1 last">
                            <div class="view view-first">
                                <img src="images/speed_2.jpg" width="250" height="180"/>

                                <div class="mask">
                                    <p>Коляска Ferrari</p>

                                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.</p>
                                    <a href="#" class="info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear p5"></div>
                        <div class="box-1">
                            <div class="view view-first">
                                <img src="images/misha.jpg" width="250" height="180"/>

                                <div class="mask">
                                    <p>Коляска BMW</p>

                                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.</p>
                                    <a href="#" class="info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="box-1 last">
                            <div class="view view-first">
                                <img src="images/body.jpg" width="250" height="180"/>

                                <div class="mask">
                                    <p>Коляска Ferrari</p>

                                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet
                                        mornings of spring which I enjoy with my whole heart.</p>
                                    <a href="#" class="info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="pad-2">
                            <a href="catalog.html" class="link-2">Показать больше</a>
                        </div>


                    </div>
                </div>
                <!--==============================footer=================================-->
                <footer>
                    <p>© 2013 Copyright </p>
                </footer>
            </div>
            <div class="clear"></div>
        </div>
    </section>
{% endblock %}