{% extends 'AppFrontendBundle::layout.html.twig' %}
{% block body %}
    <section id="content">
        <div class="ic"></div>
        <div class="container_12">
            <div class="grid_4 bot-1">
                <h2 class="top-6">Режим работы</h2>
                <ul>
                    <li>ПН-ПТ: {{ info.work_time.pn_pt }}</li>
                    <li>СБ: {{ info.work_time.sb }}</li>
                    <li>ВС: {{ info.work_time.vs }}</li>
                </ul>
            </div>
            <div class="grid_8">
                <div class="block-1 top-5">
                    <div class="block-1-shadow">
                        <div>
                            <h3>Контакт</h3>
                            {% image 'images/home.png' %}
                                <img src="{{ asset_url }}" width="20px" height="20px"/>
                            {% endimage %}
                            <span>{{ info.adress }}</span>
                        </div>
                        <div>
                            {% image 'images/mail.png' %}
                                <img src="{{ asset_url }}" width="20px" height="20px"/>
                            {% endimage %}
                            <span><a href="">{{ info.mail }}</a></span>
                        </div>
                        <div>
                            {% image 'images/phone.png' %}
                                <img src="{{ asset_url }}" width="20px" height="20px"/>
                            {% endimage %}
                            <span>{{ info.phone_number }}</span>
                        </div>

                        <div>
                            <h3>Схема проезда</h3>
                            {% image 'images/map.png' %}
                                <p><img src="{{ asset_url }}" alt="" width="560px" height="430px"/></p>
                            {% endimage %}
                        </div>
                        <div>
                            <h3>Дополнительная информация</h3>
                            <p>{% if info.additional is not null %}
                                    {{ info.additional }}
                                {% else %}
                                    {% image 'images/info.png' %}
                                        <img src="{{ asset_url }}" alt="" width="20px" height="20px"/>
                                    {% endimage %}
                                {% endif %}</p>
                            <h5>Владелец магазина:</h5>
                            <p>{{ info.boss }}</p>
                            <h5>Адрес для почты:</h5>
                            <p>{{ info.post_adress }}</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
{% endblock %}