{% extends 'AppFrontendBundle::layout.html.twig' %}
{% block body %}

    <!--==============================content================================-->
    <section id="content">

        <div class="container_12">
            <div class="grid_4 bot-1">
                <div class="vini">
                    {% image 'images/vini.png' %}
                        <img src="{{ asset_url }}" alt="" width="325px" height="224px"/>
                    {% endimage %}
                </div>


                <h2 class="top-6 p2">Статьи</h2>
                {% for article in articles %}
                    <p><a href="{{ path('frontend_article', {'id' : article.id}) }}" class="link">{{ article.title }}</a></p>
                {% endfor %}
            </div>
            <div class="grid_8">

                <div class="block-1">
                    <div class="block-1-shadow">
                        <h2 class="clr-6 p4">Рекомендуем</h2>

                        {% for product in products %}
                            <div class="box-1">
                                <div class="view view-first">
                                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}" width="220" height="220"/>

                                    <div class="mask">
                                        <p>{{ product.name }}</p>

                                        <p>{{ product.description }}</p>
                                        <a href="{{ path('frontend_product', {'id' : product.id}) }}" class="info">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="clear"></div>
                        <div class="pad-2">
                            <a href="{{ path('frontend_catalog') }}" class="link-2">Показать больше</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </section>
{% endblock %}
{#{% block footer %}#}