{% extends 'AppFrontendBundle::layout.html.twig' %}
{% block body %}
<section id="content"><div class="ic"></div>
    <div class="container_12">
        <div class="grid_12">
            <div class="block-1 top-5">
                <div class="block-1-shadow">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <br>
                    <button class="btn btn-default" type="submit">Заказать</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    <div class="clear"></div>
    </div>
</section>
{% endblock %}