{% extends 'AppFrontendBundle::layout.html.twig' %}
{% block body %}
    <section id="content"><div class="ic"></div>
        <div class="container_12">
            <div class="grid_4 bot-1">
                <a href="{{ path('frontend_basket') }}">Корзина({{ count }})</a>
                <h2 class="top-6 p2">Категории:</h2>
                <ul class="list-1">
                    {% for category in categories %}
                        <li>
                            <a href="{{ path('frontend_catalog', {'id' : category.id}) }}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid_8">
                <div class="block-1 top-5">
                    <center>
                        <div class="block-1-shadow">

                            <div class="product_wrap">
                                <ul>
                                    <h1>{{ product.name }}</h1>
                                    <li>
                                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="" class="img-border" width="240px" height="190px"/>
                                    </li>

                                    <li><p><b>Производитель:</b> <i>{{ product.manufacturer }}</i></p></li>
                                    <li><p><b>Цена:</b><i> {{ product.price }}</i></p></li></li>
                                    <li></li>
                                </ul>

                                <div>
                                    <p>{{ product.description }}</p>
                                </div>
                                <a href="{{ path('frontend_product_add', {id : product.id}) }}" class="btn btn-default">Положить в корзину</a>

                                <div class="selling"><p>Наличие товара уточняйте у продавца!</p></div>
                                <div class="con">
                                    <p>Сайт не является интернет-магазином,
                                        а создан для ознакомления с ассортиментом товаров в магазине "Мишенька"</p>
                                </div>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>
{% endblock %}