

body {
    font: 14px/22px Georgia, "Times New Roman", Times, serif;
    color: #838180;
    background: #000000;
}



.main {
    width: 100%;
    background: url(../images/bg.jpg) center 0 no-repeat;
}

/***********************************************************************/
a {
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link {
    color: #dd0a00;
}

.link:hover {
    text-decoration: underline;
}

.link-1 {
    font-size: 30px;
    line-height: 36px;
    color: #dd0a00;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: -1px;
    display: inline-block;
}

.link-1:hover {
    color: #fff;
}

.link-2 {
    font-size: 30px;
    line-height: 36px;
    color: #0072ff;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: -1px;
    display: inline-block;
}

.link-2:hover {
    color: #b30800;
}

.clr-1 {
    color: #0072ff;
}

.clr-2 {
    color: #00ae35;
}

.clr-3 {
    color: #bfaf00;
}

.clr-4 {
    color: #b30800;
}

.clr-5 {
    color: #a400b3;
}

.clr-6 {
    color: #000;
}

.clr-7 {
    color: #fff;
}



h2 {
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: -1px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-image: none;
}

ul.list-1 li {
    padding: 0px 0 0px 14px;
    line-height: 22px;
    background: url(../images/marker-1.gif) 0 9px no-repeat;
}

ul.list-1 li a {
    font-size: 18px;
    color: #838180;
    line-height: 22px;
}

ul.list-1 li a:hover {
    color: #dd0a00;
}

ul.list-2 li {
    padding: 0px 0 0px 14px;
    line-height: 22px;
    background: url(../images/marker-2.gif) 0 9px no-repeat;
}

ul.list-2 li a {
    font-size: 14px;
    color: #000;
    line-height: 22px;
}

ul.list-2 li a:hover {
    color: #0072ff;
}

/******************************************************************/
.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
    width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative
}

.wrap {
    overflow: hidden;
    position: relative
}

.extra-wrap {
    overflow: hidden;
}


.last {
    margin-right: 0px !important;
}

.top-1 {
    margin-top: 44px;
}

.top-2 {
    margin-top: 13px;
}

.top-3 {
    margin-top: 12px;
}

.top-4 {
    margin-top: 30px;
}

.top-5 {
    margin-top: 22px;
}

.top-6 {
    margin-top: 40px;
}

.bot-0 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.bot-1 {
    padding-bottom: 411px;
}

.bot-2 {
    margin-bottom: 0px;
}

.pad-0 {
    padding: 0px 0px 0px 0px;
}

.pad-1 {
    padding: 10px 0px 44px 30px;
}

.pad-2 {
    padding: 22px 0 22px 0;
    margin-top: 24px;
    text-align: center;
    overflow: hidden;
}

.pad-3 {
    padding: 12px 0px 27px 0px;
}

/*********************************header*************************************/
header {
    width: 1000px;
    margin: 0 auto;
    z-index: 101;
    background: url(../images/header.jpg) right 0 no-repeat;
}

h1 {
    margin: 27px 0 0 63px;
    display: inline-block;
    z-index: 100;
}

nav {
    z-index: 100;
    background: url(../images/slider-bg.png) 0 0 no-repeat;
    margin: 17px 0px 0 0px;
    height: 571px;
    overflow: hidden;
    padding: 0px;
}



#colorNav > ul{
    width: 450px; /* Увеличиваем, когда добавляются пункты меню */
    margin:0 auto;
}

#colorNav > ul > li{ /* стили только для элементов верхнего уровня */
    list-style: none;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
    display: inline-block;
    line-height: 1;
    margin: 1px;
    border-radius: 3px;
    position:relative;
}

#colorNav > ul > li > a{
    color:inherit;
    text-decoration:none !important;
    font-size:24px;
    padding: 25px;
}

#colorNav li ul{
    position:absolute;
    list-style:none;
    text-align:center;
    width:180px;
    font:bold 12px 'Open Sans Condensed', sans-serif;
    z-index: 1000;
    /* Важно для анимации вывода/скрытия  */
    max-height:0px;
    overflow:hidden;
    
    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
}

#colorNav li ul li{
    background-color:#313131;
    width: 150px;
}

#colorNav li ul li a{
    padding:12px;
    color:#fff !important;
    text-decoration:none !important;
    display:block;
}

#colorNav li ul li:nth-child(odd){ /* Полоски зебры */
    background-color:#363636;
}

#colorNav li ul li:hover{
    background-color:#444;
}

#colorNav li ul li:first-child{
    border-radius:3px 3px 0 0;
    margin-top:25px;
    position:relative;
}

#colorNav li ul li:first-child:before{ /* Указатель подсказки */
    content:'';
    position:absolute;
    width:1px;
    height:1px;
    border:5px solid transparent;
    border-bottom-color:#313131;
    left:50%;
    top:-10px;
    margin-left:-5px;
}

#colorNav li ul li:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

/* Запуск анимации перехода CSS */
/* при наведении курсора мыши на элемент */

#colorNav li:hover ul{
    max-height:200px; /* Увеличиваем при добавлении дополнительных выпадающих пунктов */
}



ul.menu {
    margin: 10px 0px 0 83px;
    display: inline-block;
}

ul.menu li {
    float: left;
    line-height: 50px;
    margin: 0px 35px 0px 0px;
}

ul.menu li a {
    font-size: 22px;

    font-family: 'Cabin Sketch', cursive;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
    display: block;
}
ul.menu li ul li a{
    font-size: 12px;
}

ul.menu li:hover a, ul.menu li.current a {
    color: #000;
}

/*********************************content*************************************/
#content {
    width: 1000px;
    margin: 0 auto;
    background: url(../images/content-img.png) 1px bottom no-repeat;
}

.vini {
     margin: 0 0 0 -30px;
}

.block-1 {
    background: url(../images/block-1.gif) 0 bottom repeat-x #fff;
}

.block-1-shadow {
    background: url(../images/block-1-shadow.png) 0 0 repeat-y;
    padding: 18px 30px 0 30px;
}

.img-border {
    border: #fff 10px solid;
    box-shadow: 0 0 5px #c1c1c1;
    display: inline-block;
}

.box-1 {
    float: left;
    margin-right: 20px;
}

.box-1 p.text-2 {
    margin: 7px 0 0px 11px;
}

.lists {
    overflow: hidden;
    margin-top: 12px;
}

.lists ul {
    float: left;
    width: 270px;
    margin-right: 20px;
}

.table {
    width: 560px;
    color: #000;
    margin-bottom: 6px;
}

.table tr {
    border-top: #d6d6d6 1px solid;
}

.table tr th {
    width: 145px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 13px;
}

.table tr th.last {
    width: 125px;
}

.table tr:first-child {
    border-top: none;
}

.table tr td {
    padding: 8px 0 13px 0;
}

.table tr td span {
    display: block;
}

.box-2 {
    float: left;
    width: 270px;
    margin-right: 20px;
    color: #000;
}
.icon-home{
    background: url(../images/home.png) 0 0 no-repeat;

    width: 16px;
    height: 16px;
}

.product a{
color: #000;
font-size: 14px;
}

.product_wrap{
display: inline-block;


}

.product_wrap h1{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 2;
    color: black;
}

.product_wrap b{
    font-size: 14px;
    color: black;
}
.product_wrap i{
    font-size: 17px;

}

.product_wrap .selling{
    margin: 15px 0 0 0;
    color: #bfaf00;
    font-size: 18px;

}

.product_wrap .con{
color: #CC3300;
font-size: 17px;
margin: 5px 0 0 0;
}


/****************************footer************************/
footer {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 33px 0 30px 0;
}

/**********************form**********************/
.map {
    width: 260px;
    height: 250px;
    border: #fff 10px solid;
    background: #fff;
    margin-top: 8px;
}

.map iframe {
    width: 260px;
    height: 250px;
}

#form {
    margin: 7px 0 0px 0px;
    width: 560px;
}

#form input {
    border: #e0e0e1 1px solid;
    background: #fff;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000;
    padding: 3px 10px 5px 10px;
    outline: medium none;
    width: 247px;
    height: 17px;
    float: left;
    box-shadow: 0 0 3px #c1c1c1;
}

#form textarea {
    border: #e0e0e1 1px solid;
    background: #fff;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000;
    height: 370px;
    outline: medium none;
    overflow: auto;
    padding: 3px 0px 0px 10px;
    width: 465px;
    resize: none;
    margin: 0px 0 0 0;
    float: left;
    box-shadow: 0 0 3px #c1c1c1;
}

#form label {
    position: relative;
    display: block;
    min-height: 35px;
}

.btns {
    text-align: center;
    margin-left: 82px;
    overflow: hidden;
}

.btns a {
    display: inline-block;
    margin: 0 15px 0 15px;
}

#form label strong {
    float: left;
    display: inline-block;
    padding-top: 3px;
    width: 82px;
    color: #000;
    line-height: 20px;
}