{% extends 'AppBackendBundle::layout.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Статьи</div>
        <div class="panel-body">
            <table class="table table-responsive table-bordered">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Изображение</td>
                    <td>Действия</td>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            {% if item.imageName is not null %}
                                <img style="max-width: 100px; max-height: 100px" src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="image" />
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn" href="{{ path('backend_slide_delete', {'id' : item.getId}) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <br>
                <button class="btn btn-default" type="submit">Добавить</button>
                {{ form_end(form) }}
            </div>
        </div>

    </div>


{% endblock %}
