{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">

            {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
                {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>#}

                {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
                {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>#}

                {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                {#<input type="password" id="password" name="_password" required="required"/>#}

                {#<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>#}
                {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

                {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>#}
            {#</form>#}

            <div class="login-form">

                <h1>Авторизация</h1>

                <form id="login-form" action="{{ path("fos_user_security_check") }}" method="post" role="form" class="ng-pristine ng-valid">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group field-user-email has-success">
                        <label class="control-label" for="username">Логин</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required">

                        <p class="help-block help-block-error"></p>
                    </div>
                    <div class="form-group field-user-password has-success">
                        <label class="control-label" for="password">Пароль</label>
                        <input type="password" id="password" class="form-control" name="_password" required="required">

                        <p class="help-block help-block-error"></p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" name="login-button">Войти</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}