{% extends 'base.html.twig' %}
{% block stylesheets %}
    {% stylesheets 'css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {% javascripts 'js/jquery-1.7.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'js/jquery.easing.1.3.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts 'js/tms-0.4.1.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('.slider')._TMS({
                show:0,
                pauseOnHover:true,
                prevBu:'.prev',
                nextBu:'.next',
                playBu:false,
                duration:800,
                preset:'fade',
                pagination:true,
                pagNums:false,
                slideshow:7000,
                numStatus:false,
                banners:false,
                waitBannerAnimation:false,
                progressBar:false
            })
        });
    </script>
{% endblock %}
{% block header %}
    <!--==============================header=================================-->
    <header>
        <h1><a href="{{ path('frontend_index') }}">
            {% image 'images/logo.png' %}
                <img src="{{ asset_url }}" alt="Home"/>
            {% endimage %}
            </a>
        </h1>
        <nav id="colorNav">
            <div id="slide">
                <div class="slider">
                    <ul class="items">
                        {% if slides|length > 0 %}
                            {% for slide in slides %}
                                <li><img src="{{ vich_uploader_asset(slide, 'imageFile') }}" alt="" /></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <a href="#" class="prev"></a><a href="#" class="next"></a>
            </div>
            <div>
                <ul class="menu">
                    <li><a href="{{ path('frontend_index') }}" class="clr-1">Домой</a></li>
                    <li><a class="clr-3">Покупателю</a>
                        <ul>
                            {% for category in articleCategory %}
                                {% if category.getArticles|length > 0 %}
                                    <li><a href="{{ path('frontend_article', {'id' : category.getArticles.first.getId}) }}">{{ category.name }}</a></li>
                                {% endif %}

                            {% endfor %}
                        </ul>

                    </li>
                    <li><a href="{{ path('frontend_catalog') }}" class="clr-4">Каталог</a></li>
                    <li><a href="{{ path('frontend_contact') }}" class="clr-5">Контакты</a></li>
                    <li><a href="{{ path('frontend_promo') }}" class="clr-1">Акции!</a></li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}
{% block footer %}
    <footer>
        <p>© 2013 Copyright </p>
    </footer>
{% endblock %}